body{
    font-family: 'Quicksand', sans-serif;
}

.toolbar-background-md,.toolbar-background-ios{
    background-color: #dc4444 ;
    border-bottom-color: #8a1c12;
}

.toolbar-title-md, 
.back-button-icon-ios,
.back-button-text-ios,
.toolbar-title-ios{
    color: white;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }

}