page-catch {
    .toolbar-background-md {
        border-color: #861010;
        background: #dc4444 !important;
    }    
    .toolbar-title-md{
        color: white !important;
    }
    .tabs-md {
        .tabbar{
            border-color: #861010;
            background: #dc4444 !important;
        }
        .tab-button-icon{
            color: white;
        }
    }
}
